.bg-breadcrumb {
  background: rgba(21, 22, 24, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/*******************
Feature 41
*******************/
.wrap-feature41-box .f41-tab {
    display: block;
}

.wrap-feature41-box .f41-tab li a {
    display: flex;
    margin-bottom: 20px;
    padding: 13px;
}

.wrap-feature41-box .f41-tab li a .t-icon {
    margin-right: 25px;
    color: #8d97ad;
}

.wrap-feature41-box .f41-tab li a h5 {
    font-weight: 500;
    margin-bottom: 4px;
}

.wrap-feature41-box .f41-tab li a h6 {
    font-size: 14px;
    margin-bottom: 0px;
}

.wrap-feature41-box .f41-tab li a.active, .wrap-feature41-box .f41-tab li a:hover {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
    border-radius: 7px;
}

.wrap-feature41-box .f41-tab li a.active .t-icon, .wrap-feature41-box .f41-tab li a:hover .t-icon {
    background: #00b4ff;
    background: -webkit-linear-gradient(legacy-direction(to right), #00b4ff 0%, #00b4ff 100%);
    background: linear-gradient(to right, #00b4ff 0%, #00b4ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.st-title{
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    background: #dd1515;
    text-align: center;
    padding: 12px 0 14px;
    margin-bottom: 30px;
}
.bd-title > ul > li{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #636363;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.bd-title > ul{
    margin-left: 2vw;
}

/* Carousel */
#carousel .carousel-item.boat {
    background-image: url("https://picsum.photos/1200/600/?image=1083");
  }
  
  #carousel .carousel-item.sea {
    background-image: url("https://picsum.photos/1200/600/?image=1050");
  }
  
  #carousel .carousel-item.river {
    background-image: url("https://picsum.photos/1200/600/?image=1015");
  }
  
  #carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }